.ProfilePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1464px;
    margin: 0 auto;
}

.BannerWrapper {
    position: relative;
    width: 100%;
    height: 240px;
}

.Banner {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.IconProfile {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #00141F;
    position: absolute;
    bottom: -80px;
    left: 48px;
}

.Nickname {
    position: absolute;
    bottom: -60px;
    left: 220px;
}

.StatusOnline {
    position: absolute;
    bottom: -75px;
    left: 220px;
    color: #FF6F95;
}

.ProfileBTN {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -60px;
    left: 840px;
    width: 190px;
    height: 25px;
    background-color: #046075;
    border-radius: 20px;
    padding: 12px 26px;
    gap: 12px;
}

.ProfileBTN img {
    width: 24px;
}

.Describe {
    position: absolute;
    bottom: -130px;
    left: 0px;
}

.ProfileData {
    width: 844px;
    height: 57px;
}

.ProfileContent {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 8px;
}

.ProfileLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 80px;
}