.ProfileGeneralPage {
    width: 1030px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #004252;
    border-radius: 20px;
    padding: 20px;
}

.Badges {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #002F3D;
    width: 200px;
    height: 114px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-align: center;
}

.Badges h1 {
    color: white;
    margin: 0;
}

.Badges h5 {
    color: #CCF8FFA6;
    margin: 0;
}

.Gallery{
    display: flex;
    width: 990px;
}

.Gallery img{
    width: 110px;
    height: 110px;
}