.ProfileBar {
    display: flex;
    flex-direction: column;
}

.CategoryProfile {
    width: 348px;
    height: 516px;
    padding: 20px 12px 12px 12px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #004252;  
}

.ProfileBarBTN{
    color: white;
    width: 324px;
    height: 44px;
    border-radius: 12px;
    padding: 8px 12px 8px 12px;
}