.wallet {}

.wallet_b {
    color: black;
    margin-top: 15px;
}

.block_wallet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 596px;
    height: 308px;
    border-radius: 20px;
    padding: 30px;
    gap: 22px;
    background: #004252;
}


.wallet_blochik_cost {

}


.block_wallet_general{
    position: absolute;
    top: 129px;
    left: 848px;
    /* margin-left: 848px;
    margin-top: 129px; */
}



.input_wallet {
    width: 452px;
    height: 40px;
    border-radius: 22px;
    border: 1px solid #046075;
    background: #00141F66;
    padding-left: 13px;
}



.wallet_input_button {
    width: 665px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.pay_wallet {
    width: 136px;
    height: 40px;
    border-radius: 20px;
    background: #24E5C2;
}


.block_history_transaction {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 600px;
    gap: 20px;
    width: 1092px;
    height: 537px;
    background: #004252;
    border-radius: 20px;
    padding: 20px;
}



.h2_wallet_transaction {
    margin-bottom: -30px;
}



.sum_name_transaction {
    display: flex;
    flex-direction: row;
    gap: 26px;
    /* width: 234px; */

}



.p_wallet_transaction_opis {
    font-family: Inter;
    font-size: 16px;
    color: #CCF8FFA6;
}



.block_transaction {
    display: flex;
    justify-content: space-between;
    width: 1052px;
    padding-right: 20px;
    padding-left: 20px;
}



.block_transaction2 
{
    display: flex;
    justify-content: space-between;
    width: 1052px;
    padding-right: 20px;
    padding-left: 20px;
    background: #002F3D;
    border-radius:20px;
}



.transactions_wallet_sum_and_date {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: -18px;
}




.p_wallet_transaction {
    display: flex;
    flex-direction: row;
    gap: 26px;
}


.wallet_b {
    color: white;
}


.transaction_wallet {
    display: flex;
    justify-content: space-between;
    width: 1052px;
    height: 52px;
    border-radius: 20px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    background: #002F3D;
}


.block_wallet_general_transaction {
    display: flex;
    flex-direction: column;
    gap: 30px;
}