.DLC {}

.first_complect2
{
    display: flex;
    flex-direction: row;
    width: 1050px;
    height: 130px;
    gap: 12px;
    border-radius: 20px;
    padding: 20px;
    background-color: #002F3D;
}
#div_dlc
{
    display: flex;
    flex-direction: row;
}
#div_dlc button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 109px;
    height: 28px;
    gap: 10px;
    border-radius: 20px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    background-color: #FF6F95;
    border: none;
    font-family: Inter;
    font-weight: 500;
    font-style: Bold;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -1%;
}
#div_dlc p
{
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    margin-left: 20px;
}
.price_desc2
{
    margin-top: 80px;
    margin-left: 470px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 50px;
    gap: 20px;
}
#put_text2
{
    width: 70px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(241, 253, 255, 1);
}
.price_desc2 button
{
    display: flex;
    flex-direction: row;
    width: 160px;
    height: 50px;
    border-radius: 20px;
    gap: 10px;
    padding-top: 13px;
    padding-right: 36px;
    padding-bottom: 13px;
    padding-left: 36px;
    background-color: rgba(36, 229, 194, 1);
    border: none;
    font-family: Inter;
    font-weight: 600;
    font-style: Medium;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(0, 20, 31, 1);
}
#second_dlc
{
    margin-top: 40px;
}
#third_dlc
{
    margin-top: -640px;
}
/* #navigation_all_dlcs
{
    font-family: Inter;
    font-weight: 300;
    font-style: Medium;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(0, 20, 31, 1);
} */
.app
{
    height: 2450px;
}