body {
    background: linear-gradient(180deg,
            #00151F 0%,
            #00141F 15%,
            #004055 35%,
            #005A6E 50%,
            #004055 65%,
            #002535 85%,
            #00151F 100%);
}

.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

/* html {
  overflow-y: scroll;
} */