.Navigation {}

body{
    background-color: rgb(24, 37, 33);
    margin: 0;
}

.My_Navigation{
    width: 476px;
    height: 40px;
    display: flex;
    gap: 32px;
    position: relative;
    margin-top: 190px;
    margin-left: calc(50% - 730px);
    margin-bottom: -200px;
    z-index: 50;
}

a{
    text-decoration: none;
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: rgba(204, 248, 255, 0.65);
}

.My_Navigation a.active{
    color: rgba(36, 229, 194, 1);
    text-decoration-line: underline;
    text-decoration-color: rgba(36, 229, 194, 1);
    text-decoration-thickness: 2.5px;
    text-underline-offset: 12px;
}