.Navigation {}
body
{
    background-color: rgb(24, 37, 33);
}
.My_Navigation
{
    position: relative;
    width: 476px;
    height: 40px;
    top: 190px;
    left: 228px;
    gap: 32px;
    display: flex;

}
a
{
    text-decoration: none;
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: rgba(204, 248, 255, 0.65);
}
.My_Navigation a.active {
    color: rgba(36, 229, 194, 1);
    text-decoration-line: underline;
    text-decoration-color: rgba(36, 229, 194, 1);
    text-decoration-thickness: 2.5px;
    text-underline-offset: 12px;
}