.Notifications {}


.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #002F3D;
  border: 2px solid #005f6b; 
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  background-color: #ff748c; 
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #02606d; 
}

input:checked + .slider:before {
  transform: translateX(15px);
}

.slider:hover {
  border-color: #008b9c;
}


.zagolovok_notification {
    color: rgb(255, 255, 255);
}


.p_notification {
    color: rgb(255, 255, 255);
}


.txt_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 504px;
}

.txt_button2 {
    display: flex;
    gap: 77px;
    align-items: center;
    width: 648px;
}


.txt_button3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.h3_notofications {
    color: white;
}

.button_text_notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.block_notification {
    width: 1092px;
    margin-top: 129px;
    margin-left: 600px;
    border-radius: 20px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
    gap: 64px;
    background: #002F3D;
}


