.Notifications {}




.ui-switch {
  position: relative;
  display: inline-block;
  width: 44px;  
  height: 22px; 
}

.ui-switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ui-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00141F66;
  transition: .3s;
  border-radius: 34px;
}

.ui-switch__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: #FF6F95;
  transition: .3s;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.ui-switch__input:checked + .ui-switch__slider {
  background-color: #1c68db; 
}

.ui-switch__input:checked + .ui-switch__slider:before {
  transform: translateX(22px);
}

.ui-switch:hover .ui-switch__slider {
  filter: brightness(1.1);
}



.zagolovok_notification {
    color: rgb(255, 255, 255);
}


.p_notification {
    color: rgb(255, 255, 255);
}


.txt_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 504px;
}

.txt_button2 {
    display: flex;
    gap: 77px;
    align-items: center;
    width: 648px;
}


.txt_button3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.h3_notofications {
    color: white;
}

.button_text_notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.block_notification {
    max-width: 1092px;
    position: absolute;
    top: 129px;
    left: 800px;
    /* margin-top: 129px;
    margin-left: 600px; */
    border-radius: 20px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
    gap: 64px;
    background: #002F3D;
}


