.SearchPanel {
    max-width: 1464px;
    margin: 0 auto;
    
    height: 52px;
    background-color: #046075;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;

    position: sticky; 
    bottom: 800px;
    z-index: 1000;
    
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.Panel {
    width: 400px;
    height: 36px;
    background-color: rgba(0, 20, 31, 0.4);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.SearchInput {
    background: transparent;
    border: none;
    outline: none;
    color: #CCF8FFA6;
    font-size: 14px;
    width: 100%;
}

.SearchInput::placeholder {
    color: #CCF8FFA6;
}

.SearchIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.Selector {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: 40px;
}

.SelectorLink {
    color: #F1FDFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.2s;
}

.SelectorLink:hover {
    opacity: 0.8;
}

.SelectorLink.active {
    font-weight: 700;
    border-bottom: 2px solid #F1FDFF;
}

.IconsContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.IconObj {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.IconObj:hover {
    transform: scale(1.1);
}

.IconObj img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}