.CardsWishlists {}

.GameCard {
    width: 1052px;
    height: 184px;
    border-radius: 16px;
    padding: 20px;
    gap: 20px;
    background-color: #002F3D;
}

.GameCardImage{
    width: 320px;
    height: 144px;
    border-radius: 12px;
}

.GameCardInfo{
    width: 672px;
    height: 144px;
    gap: 20px;
}

.GameCardInfo img{
    width: 40px;
}

.GameCardTag{
    width: 66px;
    height: 24px;
}



