.WishlistPage {}

.wishlist-container {
    position: relative;
    display: flex;
    width: 1464px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    margin-top: 200px;
}