.block-cards {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    display: flex;
    align-items: center;
    margin: 100 auto 0;
    margin-top: 100px;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    gap: 24px;
}